* {
    transition: all .1s ease-in;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #374040;
}

header {
    background-color: #424a4a;
    color: #db9087;
    text-align: center;
}

header>p {
    font-size: 20px;
    font-weight: normal;
}


main {
    margin-left: 30%;
    margin-right: 30%;
    color: white;
}

form>div {
    font-size: 22px;
    text-indent: 1em;
    line-height: 3
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

form>div:nth-child(odd) {
    display: block;
    background-color: #777197
}

form>div:nth-child(even) {
    display: block;
    background-color: #88839E
}

form>div:hover {
    background-color: #6b648a;
}

footer {
    background-color: #424a4a;
    color: #db9087;
    display: block;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 22px;
    bottom: 1em;
    top: 1em;
}
