* {
    transition: all .1s ease-in;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #374040
}

header {
    background-color: #424a4a;
    color: #db9087;
    text-align: center;
}

header>p {
    font-size: 20px;
    font-weight: normal;
}


main {
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    line-height: 3;
}

main>ul>li {
    font-size: 22px;
}

li:nth-child(odd) {
    display: block;
    background-color: #7A7593
}

li:nth-child(even) {
    display: block;
    background-color: #88839E
}

footer {
    background-color: #424a4a;
    color: #db9087;
    display: block;
    width: auto;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 22px;
}
