* {
    transition: all .1s ease-in;
    padding: 0px;
    margin: 0px auto;
    

}
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #374040;
    border-style: solid;
    border-color: white;
    border-width: 13px;
    
}

header { 
    background-color: #424a4a;
    color: #db9087;
    text-align: center;
    height: 120px;
    line-height: 2em;
}
header>div {
    text-align: center;
}

header>p {
    font-size: 20px;
    font-weight: normal;
}

main {
    margin-left: 30%;
    margin-right: 30%;
    color: white;
}

form>div {
    font-size: 17px;
    text-indent: 1em;
    line-height: 3;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    vertical-align: middle;
}
span::before{
    content: "(";
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
span::after{
    content: ")";
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
form>div:nth-child(odd) {
    display: block;
    background-color: #777197
}

form>div:nth-child(even) {
    display: block;
    background-color: #88839E
}

form>div:hover {
    background-color: #6b648a;
    border-top-style: solid;
    border-bottom-style: solid;
}

/*input[type="checkbox"]+label::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    border: solid 2px black; 
    background-color: white;
    position: inherit;
}

input[type="checkbox"]:checked + label::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url(img/icon_check.svg);
        background-size: 16px 16px;
}*/

input[type="checkbox"]:checked + label {
    text-decoration-line: line-through;
}

form>div:active {
    background-color: rgb(209, 125, 91);
}
footer {
    background-color: #424a4a;
    margin-left: 30%;
    margin-right: 30%;
    height: 60px;
    color: #db9087;
    text-align: center;
    font-size: 20px;
}
