@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), 
         url('../fonts/raleway-v19-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), 
         url('../fonts/raleway-v19-latin-600.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), 
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); 
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-700.woff') format('woff'); 
  }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin-700.woff') format('woff'); 
  }
