$oslo-gray: #898F8F;
$color-overhead:$oslo-gray;
$font-size-overhead:18px;
$default-gap: 15px;
$container-width: 1200px;
$font-size-header:60px;
$supernova: #FFCC00;
$dovegray: #666666;
$color-header: $supernova;

$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);

