* {
    margin: 0 auto;
    padding: 0;
}
body, html {
    height: 100%;
}
body {
    background-color: rgb(176, 124, 247);
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
  }
  .title {
      font-size: 90px;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 25px;
  }
  .subtitle {
    font-size: 17px;
    text-align: center;
    margin-bottom: 38px;
    margin-left: 465px;
    margin-right: 465px;
  }
  .conteiner {
      margin: 0 auto;
      max-width: 1165px;
      height: 310px;
  }
  .boxes li {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    position: relative;
    list-style-type: none;
  }
.date {
  display: block;
  background-color: rgb(38, 38, 38, 0.502);
  border-radius: 5px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  width: 60px;
  height: 60px;
  position: relative;
  top: -290px;
  left: -130px;
  line-height: 25px;
}
span {
  font-size: 32px;
}
.text-details-title {
  position: relative;
  top: -200px;
  left: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  padding-right: 50px;
}
.hour {
  position: relative;
  top: -180px;
  left: 20px;
}
.button {
  padding: 60px;
  display: flex;
  align-items: center;
  
}
button {
  padding: 20px;
  width: 200px;
  background-color: #f72b3b;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.conteiner {
  overflow: hidden;
}
.text-details {
  position: absolute;
  top: 320px;
  left: 20px;
  transform: translateX(400px);
  transition: all 0.5s ease-in-out;
  }

.boxes-list-block:hover .text-details {
  transform: translateX(0px);
}
.pic img {
  display: block;
}
.pic {
  position: absolute;
}
.pic::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  color: #ffffff;
  background-size: contain 
}
.pic:hover::after {
  opacity: 1;
}
