* {
     margin: 0 auto;
     box-sizing: border-box
}

body, html {
     height: 100%;
     width: 100%;
     overflow-x: hidden;
     font-family: $font-family
}

@include grid();

.container {
     width: $container-width;
     margin: 0 auto;
     padding: $default-gap;
}

.row {
     display: flex;
     flex-wrap: wrap;
     display: flex;
     justify-content: center;
     margin: 0 (-$default-gap);
}

[class^="col-"] {
     padding: $default-gap;
}
