.header {
    &__conteiner {
        background-image: url(../image/Img1.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

    &__bhromaon {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 300px;
        flex-grow: 1;
    }

    &__title-main {
        color: $font-color;
        font-style: normal;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    }

    &__title-subtitle {
        color: $font-color;
        font-style: normal;
        font-size: 22px;
        letter-spacing: 0.5em;
        margin-bottom: 50px;
        text-align: center;
    }
}

.search-form {

    display: flex;
    justify-content: center;
    align-self: normal;

    &__input {
        width: 650px;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid white;
        outline: none;
        background: white;
        color: #9E9C9C;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        letter-spacing: 0.3em;
        text-align: center;
    }

    &__button {
        width: 145px;
        height: 60px;
        border: 2px solid white;
        background: $dodgerBlue1;
        cursor: pointer;
        font-family: $secondary-font;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
        letter-spacing: 0.2em;
        font-size: 14px;
        position: relative;
    }
    &__button::after {
        content: "";
        position: absolute;
        background-image: url(../image/search_btn.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        top: 30%;
        left: 80%;
        color: white;
        padding-left: 15px;
        vertical-align: middle;
    }
}

/*
    &__button::after {
        content: "";
        background-image: url(../image/search_btn.svg);
        background-repeat: no-repeat;
        
        position: absolute;
        height: 25px;
        width: 25px;
        color: white;
        padding-right: 15px;
        vertical-align: middle;
    }
}
.button {}

/*
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__input {
        width: 650px;
        height: 60px;
        border: 2px solid white;
        outline: none;
        background: white;
        color: #9E9C9C;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        letter-spacing: 0.3em;
        text-align: center;
    }
    &__button {
        width: 145px;
        height: 56px;
        margin: 2px;
        border: none;
        background: $dodgerBlue1;
        cursor: pointer;
        font-family: $secondary-font;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    &__button::after {
        content: "";
        background-image: url(../image/search_btn.svg);
        position: absolute;
        height: 25px;
        width: 25px;
        color: white;
    }
}

    /*
    
    &__input {
        position: relative;
        width: 100%;
        height: 60px;
        border: 2px solid white;
        outline: none;
        background: white;
        color: #9E9C9C;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        letter-spacing: 0.3em;
        text-align: center;
    }
    &__button {
        position: absolute; 
        top: 0;
        right: 0px;
        width: 145px;
        height: 56px;
        margin: 2px;
        border: none;
        background: $dodgerBlue1;
        cursor: pointer;
        font-family: $secondary-font;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    &__button::after {
        content: "";
        background-image: url(../image/search_btn.svg);
        position: absolute;
        font-size: 16px;
        color: white;
    }
    &__scroll {
    }
}
.title {
}
.subtitle {
}
.search {
}
*/
