@mixin grid($count: 12) {
    @for $i from 1 through $count {
        $width: 100% / 12 * $i;

        .col-#{$i} {
            max-width: $width;
            width: 100%;
            flex-basis: $width;
        }

        @each $breack-point,
        $breack-point-value in $breack-points {
            @media screen and (max-width: $breack-point-value) {
                .col-#{$breack-point}-#{$i} {
                    max-width: $width;
                    width: 100%;
                    flex-basis: $width;
                }
            }
        }
    }
}
