$default-gap: 15px;
$container-width: 1200px;
$default-font: 'Josefin Sans', Arial, Helvetica, sans-serif;
$secondary-font: 'Aleo', Arial, Helvetica, sans-serif;
$font-color: white;


$dodgerBlue1: #5474fd;
$dodgerBlue2: #496bfe;


$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);

