* {
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/lato-v17-latin-100.woff2') format('woff2'), 
         url('../fonts/lato-v17-latin-100.woff') format('woff'); /
  }
  
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/lato-v17-latin-300.woff2') format('woff2'), 
         url('../fonts/lato-v17-latin-300.woff') format('woff'); 
  }

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'),
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); 
  }
 
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), 
         url('../fonts/lato-v17-latin-700.woff') format('woff'); 
  }
body {
font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.wraper {
    max-width: 1170px;
    margin: 0 auto;
}
.cards {
    display: flex;
    justify-content: space-between;
    
}
    .item {
      padding: 15px;  
    }
    